{% extends 'base.html' %}

{% block content %}
        {% for purch in object_list %}
            <p>{{ purch.movie }}</p>
            <p>{% if purch.movie.is_active %}
                    Activity: Active
                {% else %}
                    Activity: Not active
                {% endif %}</p>
            <p>Qnt: {{ purch.qnt }}</p>
            <p>You spent of all time: {{ purch.user.spent }}</p>
            ___________________________________________________________________
        {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}